compilador_entorno
path
__pycache__/
minicc.txt
tempCodeRunnerFile.*
Compilador/__pycache__/mclex.cpython-312.pyc
Compilador/__pycache__/mclex.cpython-312.pyc
Compilador/__pycache__/mclex.cpython-312.pyc
